<header class="site-header" role="banner">

  <div class="wrapper">

    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = site.github.url | default: custom_url %}
    <a class="site-title" href="{{ full_base_url }}/"><img src="{{full_base_url}}/images/logo.svg" alt="">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for my_page in site.pages %}
      {% unless my_page.exclude %}
      {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </nav>

  </div>

</header>
