@charset "utf-8";

@import "base/variables";
@import "base/fonts";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/home";

a {
  &,
  &:hover,
  &:visited {
    color: $red;
  }
}

hr {
  margin: 1rem auto;
  width: 10%;
  border: 0;
  border-top: 1px solid $blue;
}

body {
  background-color: #fff;
  color: $blue;
}

.wrapper:after, 
.footer-col-wrapper:after {
  display: none;
}

main {
  .wrapper {
    padding: 20px;
    background-color: #fff;
  }
}

.page-heading {
  font-size: 2rem;
  color: $blue;
}

.post-footer {
  font-size: .8em;

  p {
    margin: 0;
  }
}
