<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {% unless page.id %}
        <section class="home-wrapper">
          {% endunless %}
          
          {{ content }}

          {% unless page.id %}
          {% include aside.html %}
        </section>
        {% endunless %}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
