---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <span class="post-meta"> Publié en 
      {% assign m = page.date | date: "%-m" %}
      {% case m %}
      {% when '1' %}janvier
      {% when '2' %}f&eacute;vrier
      {% when '3' %}mars
      {% when '4' %}avril
      {% when '5' %}mai
      {% when '6' %}juin
      {% when '7' %}juillet
      {% when '8' %}août
      {% when '9' %}septembre
      {% when '10' %}octobre
      {% when '11' %}novembre
      {% when '12' %}d&eacute;cembre
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
