@charset "utf-8";

@font-face {
    font-family: 'klinic_slab-medium';
    src: url('../fonts/klinicslabmedium-webfont.woff2') format('woff2'),
         url('../fonts/klinicslabmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}